body{
	margin:0;
	font-family: sans-serif;
	background-color: #dddddd;
}

*{
	box-sizing: border-box;
}

.container{
	max-width: 1140px;
	background-color: #ffffff;
	height:auto;
	margin:40px auto;
	padding:20px;
}
h1{
	font-size:30px;
	margin:0;
	font-family: "Proxima Nova", "Neue Helvetica", Helvetica;
	color: #333;
}
.clear{
	clear: both;
}
.nav{
 width: 100%;
 height: 180px;
 background-color:lightgreen;
 background: linear-gradient(to top, #dddddd, rgb(84, 241, 84)); 
 text-align: center;
 margin-bottom:20px;
 border-radius: 0 0 85% 85% / 30%;
 
}
.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	margin-bottom: 20px;
  }
  
.topnav li {
	float: left;
}
  
.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.topnav li a:hover {
	background-color: #dddddd;
	color: black;
}

.header{
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding: 80px 15px;
 margin-bottom:20px;
 margin-top: 20px;
 
}
.search{
	border: none;
	background-color: transparent;
	border-bottom: 2px solid green;
	outline: none;
	margin-left: 5px;

}
.header form{
	font-weight: bold;
	margin-bottom: 20px;
}
#txtHint{
	display: flex;
	justify-content: center;
}

#txtHint table{
	border-collapse: collapse;
	width: 30%;
}
td, th {
	border: 1px solid rgb(85, 85, 85);
	padding: 5px;
}
tr:nth-child(even) {
	background-color: lightgreen;
  }

.section1{
 float:left;
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding:50px 10px;
 margin-bottom:20px;
}

.section1 .content{
	float:left;
	width: 100%;
	margin-top:60px;
}

.section1 .content .card{
width:25%;
float: left;
padding:0px 10px;
}

.section1 .content .card .box{
	background-color:gray;
	font-size:30px;
	color:#fff;
}

@media screen and (max-width: 600px) {
	.topnav li.right, 
	.topnav li {
		float: none;
	}
	.nav{
		height: 300px;
	}

  }